{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'shift.shiftsIn'|trans }} {{ view.month.monthIndex|trans({}, "months") }} {{ view.month.year }}</h3>
    <a href="{{ path('monthshifts', { year: view.month.earlier.year, month: view.month.earlier.month }) }}">&lt;&lt; {{ 'shift.earlier'|trans }}</a>
    ||
    <a href="{{ path('monthshifts', { year: view.month.later.year, month: view.month.later.month }) }}">{{ 'shift.later'|trans }} &gt;&gt;</a>
    <div id="shiftOverview">
	    <table class="table table-striped table-hover">
	    	<tbody>
			{% for shift in view.month.shifts %}
				<tr>
					<td>{{ shift.dayIndex|trans }}</td>
					<td>{{ shift.from }} - {{ shift.to }}</td>
					<td>{{ shift.vehicle }}</td>
					{% for crewPosition in shift.crewPositions %}
						<td>
								<b>
									{{ crewPosition.description }}:
								</b> 
								{% if crewPosition.hasShiftWorker %}
									{{ crewPosition.shiftWorkerName }}
								{% else %}
									<a href="#" data-toggle="modal" data-type="enrollButton" data-crewposition="{{ crewPosition.description }}" data-date="{{ shift.dayIndex|trans }} {{ shift.from }} - {{ shift.to }}" data-shiftid="{{ shift.shiftId }}" data-crewpositionid="{{ crewPosition.crewPositionId }}">{{ 'shift.notFilledIn'|trans }}</a>
								{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
	    </table>

		<div class="modal" id="shiftEnrollment" tabindex="-1" role="dialog" aria-labelledby="shiftEnrollmentTitle">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		    	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        	<h4 class="modal-title" id="shiftEnrollmentTitle">{{ 'shift.enrollInShift'|trans }}</h4>
		      	</div>
		      	<form method="post">
			      	<div class="modal-body">
						<span data-type="shiftEnrollmentMessage"></span>
			      	</div>
				    <div class="modal-footer">
				       	<button type="submit" class="btn btn-primary">{{ 'dialog.confirm'|trans }}</button>
				       	<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'dialog.cancel'|trans }}</button>
				  	</div>
				</form>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		AmbuShift.ShiftOverView.Messages = 
		{
			ConfirmEnrollment: "{{ 'shift.confirmEnrollment'|trans }}"
		};
		AmbuShift.ShiftOverView.initialize("#shiftOverview");
	</script>
{% endblock javascript%}