{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'nav.shifts'|trans }}</h3>
    <table id="shiftOverview" class="table table-striped table-hover">
    	<tbody>
		{% for shift in view.shifts %}
			<tr>
				<td>{{ shift.dayIndex|trans }}</td>
				<td>{{ shift.from }} - {{ shift.to }}</td>
				<td>{{ shift.vehicle }}</td>
				{% for crewPosition in shift.crewPositions %}
					<td>
							<b>
								{{ crewPosition.description }}:
							</b> 
							{% if crewPosition.hasShiftWorker %}
								{{ crewPosition.shiftWorkerName }}
							{% else %}
								<a href="#">{{ 'shift.notFilledIn'|trans }}</a>
							{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
    </table>
{% endblock %}